body {     
    background: url("https://www.barraques.cat/imgdirs/big/78/785595_marvel-universe-wallpaper.jpg");
    height: auto;
  }

p {
    text-align: center;
}

.questionnaire {
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    opacity: .9;
}

.timer {
    background-color:red;
    color: white;
    margin: 50px;
    padding: 50px;
    font-size: 28px;
    margin: 25px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;

}

form{
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 10px;
    text-align: center;
    background: none;
}

.options {
    text-align: center;
}

h4 {
    text-align: center;
    color: red;
}


#trivia {
    text-align: center;
}

.wrapper { 
    margin-top: 5%; 
    }

.marvel { 
  border: solid 1px #fff;
  padding: 8px 4px 0 0;
  margin: auto auto;
  text-align: center;
  color: white;
  background-color: red; 
  width: 570px; 
  margin-top: 50px;  
  font-size: 225px; 
  line-height: .80;
  font-family: "Benton Sans Ex Comp Bla", sans-serif; 
}

.studios { 
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  color: white;
  letter-spacing: 50px;
  text-align: center;
  position: relative;
  margin: 7px 15px 7px 85px;
  font-size: 28px;
}
