.jumbotron {
    margin: 25px;
    align-content: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.container {
    height:auto;
}
.timer {
    background-color: blue;
    color: white;
}

form{
    margin: 25px;
    padding-left: 10px;
    background-color: yellow;
    text-align: center;
}

h4 {
    text-align: center;
}

#trivia {
    text-align: center;
    background-color: green;
}